body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#audio-player {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  margin-top: 120px;
}

audio {
  width: 100%;
}

#controls {
  margin-top: 10px;
}

#controls button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

#controls button:hover {
  background-color: #45a049;
}
